name: device_marketing_names
description: Lookup device marketing names for Android, iOS and browsers with ease. No internet connection or database required.
version: 1.1.7
homepage: https://github.com/Boehrsi/device_marketing_names
repository: https://github.com/Boehrsi/device_marketing_names
issue_tracker: https://github.com/Boehrsi/device_marketing_names/issues
topics: [ device, name, utils ]

environment:
  sdk: ">=2.15.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  device_info_plus: ">=4.1.2 <13.0.0"
  universal_platform: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.15
  device_info_plus_platform_interface: ">=3.0.0 <8.0.0"
  flutter_lints: ">=3.0.2 <7.0.0"
  mockito: ^5.4.5

platforms:
  android:
  ios:
  web:

scripts:
  build_runner: dart run build_runner build --delete-conflicting-outputs
  update_data:
    windows:
      - curl --output .\lib\src\data\device_identifiers.dart --url https://raw.githubusercontent.com/Boehrsi/device_identifiers/refs/heads/main/output/device_identifiers.dart