name: device_marketing_names
description: Lookup device marketing names for Android, iOS and browsers with ease. No internet connection or database required.
version: 0.8.4
homepage: https://github.com/Boehrsi/device_marketing_names
repository: https://github.com/Boehrsi/device_marketing_names

environment:
  sdk: ">=2.15.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  device_info_plus: ">=4.1.2 <11.0.0"
  universal_platform: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.11
  device_info_plus_platform_interface: ">=3.0.0 <8.0.0"
  flutter_lints: ">=3.0.2 <5.0.0"
  mockito: ^5.4.4

flutter:

scripts:
  build_runner: dart run build_runner build --delete-conflicting-outputs